@media screen and (max-width: 1024px) {
    .hosting__container {
        max-width: 70%;
    }
    #activities {
        width: 70%;
        margin: 0 auto 20px auto;
    }
}
@media screen and (max-width: 768px) {
    .header__nav__link:hover {
        text-decoration-line: underline;
        text-underline-offset: 5px;
    }
    .hero__title {
        text-align: center;
    }
    .hero__text {
        text-align: center;
    }
    .hero__form__container {
        width: 500px;
        margin: 20px auto 0 auto;
    }
    .hero__filter__container {
        width: 50%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 20px auto 0 auto;
    }
    .hero__filter__container h2 {
        margin: 0 auto 0 auto;
    }
    .hero__filter__link {
        width: 280px;
        margin: 10px 0 10px 30px;
    }
    .hero__disponibilty__container {
        width: 70%;
        margin: 0 auto 20px auto;
    }
    .hosting__container {
        max-width: 80%;
    }
    #activities {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    .col-1 {
        width: 200px;
        min-height: 50px;
    }
}
@media screen and (max-width: 425px) {
    .header__logo {
        width: 71px;
        height: auto;
        padding-left: 20px;
    }
    .header__nav__item {
        margin-right: 20px;
    }
    .hero__title {
        font-size: 20px;
        width: 70%;
        margin: 0 auto 20px auto;
    }
    .hero__form__container {
        width: 100%;
    }
    .hero__form {
        width: 75%;
        display: flex;
        margin: 0 auto 0 auto;
    }
    .hero__form span {
        width: 50px;
        height: 50px;
    }
    .hero__form span i {
        font-size: 18px;
    }
    .hero__form input[type="text"] {
        max-width: 150px;
        height: 50px;
        font-size: 15px;
        outline: none;
        padding: 0 10px;
    }
    .hero__form input[type="submit"] {
        max-width: 100px;
        height: 50px;
        font-size: 15px;
        padding: 0 5px;
    }
    .hero__filter__container {
        width: 80%;
        margin: 30px auto 20px auto;
    }
    .hero__filter__link {
        margin: 10px auto 10px auto;
    }
    .hero__disponibilty__container {
        width: 90%;
    }
    .hosting__title {
        width: 90%;
        margin: 30px auto 10px auto;
    }
    .hosting__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .hosting__container {
        max-width: 100%;
        margin: 0 auto 0 auto;
    }
    .mostPopular__container {
        width: 100%;
        padding: 0;
    }
    .mostPopular__title {
        width: 90%;
        margin: 20px auto 25px auto;
    }
    .mostPopular__title h2 {
        font-size: 20px;
    }
    #activities {
        width: 100%;
        margin: 0 auto 20px auto;
    }
    .activities__title {
        width: 90%;
        margin: 40px auto 20px auto;
    }
    .activities__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (max-width: 325px) {
    .header__nav__item {
        margin-right: 10px;
    }
    .hero__title {
        font-size: 20px;
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .hero__form__container {
        width: 100%;
    }
    .hero__form {
        width: 90%;
        display: flex;
        margin: 0 auto 0 auto;
    }
    .hero__form span {
        width: 50px;
        height: 50px;
    }
    .hero__form span i {
        font-size: 16px;
    }
    .hero__form input[type="text"] {
        width: 135px;
        height: 50px;
        font-size: 15px;
        outline: none;
        padding: 0 10px;
    }
    .hero__form input[type="submit"] {
        width: 100px;
        height: 50px;
        font-size: 15px;
        padding: 0 5px;
    }
    .hero__filter__container {
        width: 95%;
        margin: 30px auto 20px auto;
    }
    .hero__filter__link {
        margin: 10px auto 10px auto;
    }
    .hero__disponibilty__container {
        width: 90%;
    }
    .mostPopular__card__contents {
        width: 300px;
        min-height: 150px;
        margin: 0 auto 20px auto;
    }
    #activities {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
