/* Reset CSS*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root {
    /* Color variables */
    --main-blue: #0065fc;
    --lite-blue: #deebff;
    --lite-gray: #f2f2f2;
    --main-black: #000;
    --main-white: #fff;

    /* FONT */
    --main-font: "Raleway", sans-serif;

    /* Text color variables */
    --color-primary: var(--main-black);
    --color-secondary: var(--main-white);
}

/* HTML Settings */
html {
    scroll-behavior: smooth;
}
/* Body Settings */
body {
    font-family: var(--main-font);
}

/* Main Settings */
main {
    max-width: 1400px;
    margin: 0 auto;
    color: var(--main-black);
}
/* Setting Header */
.header {
    min-width: 100%;
    height: 110px;
    background-color: var(--main-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 71px;
    height: auto;
    margin-left: 10px;
}

/* Setting Nav Menu */
.header__nav__bar {
    width: auto;
    display: flex;
    align-items: center;
}
.header__nav__list {
    display: flex;
    flex-direction: row;
}
.header__nav__item {
    margin-right: 50px;
}
.header__nav__item:last-child {
    margin-right: 20px;
}
.header__nav__link {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-black);
    transition: all ease-in-out 200ms;
    position: relative;
}
.header__nav__link::before {
    content: "";
    position: absolute;
    background-color: var(--main-blue);
    width: 100%;
    height: 2px;
    bottom: 60px;
    left: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.header__nav__link:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

/** Settings Section Hero container **/
#hero__container {
    max-width: 100%;
    padding: 0 10px;
    min-height: 320px;
}
.hero__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: var(--main-black);
    margin: 0 0 20px 0;
}
.hero__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--main-black);
    margin: 0 0 20px 0;
}
/* Settings Form Search */
.hero__form__container {
    width: 500px;
}
.hero__form {
    display: flex;
}
.hero__form span {
    display: inline-block;
    width: 60px;
    height: 55px;
    color: var(--main-black);
    background-color: var(--lite-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}
.hero__form span i {
    font-size: 20px;
}
.hero__form input {
    display: inline-block;
    position: relative;
}
.hero__form input[type="text"] {
    width: 250px;
    height: 55px;
    font-size: 18px;
    border: none;
    border-top: 1px solid var(--lite-gray);
    border-bottom: 1px solid var(--lite-gray);
    outline: none;
    padding: 0 25px;
}
.hero__form input[type="submit"] {
    width: 150px;
    height: 55px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 25px;
    color: var(--main-white);
    position: relative;
    border-radius: 0 20px 20px 0;
    background-color: var(--main-blue);
    border: none;
    outline: none;
    cursor: pointer;
}
/* Setting BTN Filter */
.hero__filter__container {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.hero__filter__container h2 {
    font-size: 18px;
    font-weight: 700;
}
.hero__filter__link {
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0 10px 30px;
    padding: 11px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--main-black);
    border: 2px solid var(--lite-blue);
    border-radius: 9999px;
    transition: all ease-in-out 250ms;
}
.hero__filter__link:hover {
    background-color: var(--lite-blue);
    transition: all ease-in-out 250ms;
}
.hero__filter__link i {
    font-size: 22px;
    color: var(--main-blue);
    margin-right: 10px;
}

/* Setting Disponibilty  */
.hero__disponibilty__container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.hero__disponibilty__icone {
    width: 30px;
    height: 30px;
    padding: 20px;
    color: var(--main-blue);
    border: 1px solid var(--lite-gray);
    border-radius: 9999px;
    position: relative;
}
.hero__disponibilty__icone i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.hero__disponibilty__container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--main-black);
    margin-left: 11px;
}

/* Setting Section Hosting Container */
#hosting {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.hosting__container {
    max-width: 65%;
    margin: 0 auto 0 auto;
    background-color: var(--lite-gray);
    border-radius: 20px;
}
.hosting__title {
    margin-top: 50px;
    margin-left: 50px;
}
.hosting__title h2 {
    font-size: 22px;
    font-weight: 700;
}
.hosting__cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 30px;
}
.hosting__card__contents {
    width: 246px;
    height: 200px;
    background-color: var(--main-white);
    padding: 5px;
    color: var(--main-black);
    border-radius: 24px;
    transition: all 0.2s ease-out;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.hosting__card__img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.hosting__card__descriptions,
.hosting__card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.hosting__card__title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 16px;
}
.hosting__card__price {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 16px;
}
.hosting__card__price span {
    font-weight: 700;
}
.hosting__card__stars {
    margin-top: 5px;
    margin-left: 16px;
}
.hosting__card__stars .fa-star {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    color: var(--main-blue);
}
/* Setting last stars */
.hosting__card__stars .fa-star:last-child {
    color: var(--lite-gray);
    margin-right: 0;
}
/* Setting link view more */
.hosting__view__more {
    margin: 20px 0 20px 50px;
}
.hosting__view__more h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-black);
}

/*** Setting Most Popular Cards ***/
.mostPopular__container {
    min-width: 30%;
    margin: 0 auto 0 auto;
    padding: 0 20px 20px 20px;
    background-color: var(--lite-gray);
    border-radius: 20px;
    gap: 40px;
}
/* Setting Most Popular title */
.mostPopular__title {
    width: 350px;
    margin: 50px auto 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mostPopular__title h2 {
    font-size: 22px;
    font-weight: 700;
    color: var(--main-black);
}
.mostPopular__title i {
    font-size: 20px;
    color: var(--main-blue);
}
/* Setting Most Popular Cards */
.mostPopular__card__contents {
    display: flex;
    width: 350px;
    height: 150px;
    background-color: #fff;
    margin: 0 auto 20px auto;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
/* Setting Img*/
.mostPopular__card__img {
    width: 130px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0 0 20px;
}
/* Setting card contain description */
.mostPopular__card__description,
.mostPopular__card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
/* Setting title card */
.mostPopular__card__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-black);
}
/* Setting price */
.mostPopular__card__price {
    font-size: 15px;
    margin-top: 10px;
}
/* Setting span price */
.mostPopular__card__price span {
    font-weight: 700;
}
/* Setting stars */
.mostPopular__card__stars {
    margin-top: 10px;
    margin-left: 10px;
}
.mostPopular__card__stars .fa-star {
    /* font-size: 14px; */
    width: 12px;
    height: 12px;
    margin-right: 3px;
    color: var(--main-blue);
}
/* Setting last stars */
.mostPopular__card__stars .fa-star:last-child {
    color: var(--lite-gray);
    margin-right: 0;
}
/*** Setting Section Activities ***/
#activities {
    width: 100%;
    min-height: 550px;
}
.activities__title {
    margin: 50px 0 30px 30px;
}
.activities__title h2 {
    font-size: 22px;
    font-weight: 700;
}
.activities__cards__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.activities__card__contents {
    width: 300px;
    height: 450px;
    margin: 0 auto 20px auto;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.activities__card__img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.activities__card__description {
    margin-top: 10px;
    margin: 20px 0 0 20px;
}
.activities__card__description p {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-black);
}

/*** Setting Footer ***/
.footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--lite-gray);
}
.footer__col {
    width: 300px;
    height: 150px;
}
.footer__col h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 20px 0;
}
.footer__col li {
    margin: 10px 0;
}
.footer__col li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-black);
}
/* Media query 996px */
@media screen and (max-width: 996px) {
    .hosting__container {
        max-width: 95%;
    }
    #activities {
        width: 70%;
        margin: 0 auto 20px auto;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 10px;
    }
    .footer__col {
        width: 200px;
        min-height: 50px;
    }
}
